<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="com.sabre.edge.platform.optional.webkit.editors.DefaultWebkitEditor" default="false" icon="images/editor_icon.png" 
		 id="com.sabre.tlg.redapp.extension.editor.CustomBrowserEditor" name="%editor.name"/>
	</extension>
	<extension point="com.sabre.edge.platform.core.editor.editorApp">
		<editorApp class="com.sabre.edge.platform.optional.webkit.editors.DefaultWebkitEditor" constraintStartup="0" 
		 editorId="com.sabre.tlg.redapp.extension.editor.CustomBrowserEditor" name="%editorApp.name" toolTipText="%editorApp.toolTipText"/>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="com.sabre.edge.platform.optional.webkit.handlers.OpenWebkitViewHandler" 
		 id="com.sabre.tlg.redapp.extension.redapp.webkitview.command" name="%command.name.1">
			<commandParameter id="viewId" name="%commandParameter.name.0" optional="true"/>
		</command>
		<command defaultHandler="com.sabre.edge.platform.optional.webkit.handlers.FocusOrOpenWebkitEditorHandler" 
		 id="com.sabre.tlg.redapp.extension.webkiteditor.command" name="%command.name.2">
			<commandParameter id="editorId" name="%commandParameter.name.1" optional="true"/> 
		</command> 
	</extension>
	<extension point="com.sabre.edge.platform.core.ui.viewApp">
		<viewApp browserURL="${plugin_resources}/resources/AvAssistant.html" viewId="com.sabre.tlg.redapp.extension.view.WebKitSampleView"/>
	</extension>
	<extension point="org.eclipse.ui.views">
		<view allowMultiple="true" class="com.sabre.edge.platform.optional.webkit.views.WebkitView" icon="images/icon.png" 
		 id="com.sabre.tlg.redapp.extension.view.WebKitSampleView" name="%view.name.0" restorable="true"/>
	</extension>
	<extension point="com.sabre.edge.redapp.contactdetails.provider">
		<contactDetails company="Travel Leaders Group" 
	      contactName="Application Support - Travel Leaders Group" 
	      email="achauhan@tavisca.com" 
	      phoneNumber="Contact your local Sabre Help Desk Telephone Number" 
	      website="https://www.pinsight.com">
		</contactDetails>
	</extension>
	<extension point="com.sabre.edge.cf.redapp"/>
	<extension point="org.eclipse.ui.preferencePages">
		<page category="com.sabre.edge.cf.core.preferences.RedAppsSettings" class="com.sabre.tlg.redapp.extension.preferences.AppPreferencePage" 
		 id="com.sabre.tlg.redapp.extension.preferences.AppPreferencePage" name="%page.name"/>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.sabre.tlg.redapp.extension.preferences.PreferenceInitializer"/>
	</extension>
	<extension point="com.sabre.edge.platform.core.config.properties">
		<contributor file="config.properties"/>
	</extension>
	<extension point="com.sabre.edge.cf.redapp"/>
</plugin>
