<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="com.sabre.edge.platform.optional.webkit.editors.DefaultWebkitEditor" default="false" icon="images/editor_icon.png" 
		 id="com.tlg.pinsight.editor.CustomBrowserEditor" name="%editorApp.name"/>
	</extension>
	<extension point="com.sabre.edge.platform.core.editor.editorApp">
		<editorApp class="com.sabre.edge.platform.optional.webkit.editors.DefaultWebkitEditor" constraintStartup="0" 
		 editorId="com.tlg.pinsight.editor.CustomBrowserEditor" name="%editorApp.name" toolTipText="%editorApp.toolTipText"/>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="com.sabre.edge.platform.optional.webkit.handlers.FocusOrOpenWebkitEditorHandler" 
		 id="com.tlg.pinsight.webkiteditor.command" name="%command.name">
			<commandParameter id="editorId" name="%commandParameter.name" optional="true"/> 
		</command>
		<command id="com.tlg.pinsight.redapp.view.command" name="%command.name.0">
			<commandParameter id="viewId" name="%commandParameter.name"/>
		</command> 
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="com.sabre.edge.platform.core.ui.handlers.OpenViewHandler" commandId="com.tlg.pinsight.redapp.view.command"/>
	</extension>
	<extension point="com.sabre.edge.cf.redapp"/>
	<extension point="com.sabre.edge.platform.core.config.properties">
		<contributor file="config.properties"/>
	</extension>
	<extension point="org.eclipse.ui.views">
		<view allowMultiple="true" category="com.sabre.edge.app.ui.category" class="com.tlg.pinsight.views.PinsightInfoView" icon="images/info_Icon.png" 
		id="com.tlg.pinsight.redapp.view" name="%view.name.0"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="toolbar:com.sabre.edge.toolbar.sidebar">
			<command commandId="com.tlg.pinsight.redapp.view.command" icon="images/info_Icon.png" label="%command.label" style="push" tooltip="%command.tooltip">
				<parameter name="viewId" value="com.tlg.pinsight.redapp.view"/>
			</command>
		</menuContribution>
	</extension>
	<extension point="com.sabre.edge.redapp.contactdetails.provider">
		<contactDetails company="Travel Leaders Group" 
	      contactName="Application Support - Travel Leaders Group" 
	      email="travelleaders@travelleaders.com" 
	      phoneNumber="800-448-3090" 
	      website="https://www.travelleadersgroup.com/">
		</contactDetails>
	</extension>
</plugin>
